<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>vue</title>
		<!--<link rel="stylesheet" href="https://keepfool.github.io/vue-tutorials/01.GettingStarted/styles/demo.css" />-->
		<!--<link rel="stylesheet" href="./jvw/element-ui/element-ui@2.4.0/element-ui.2.4.0.css">-->
		<link rel="stylesheet" href="./jvw/antd/antd.min.css">
		<style>

		</style>
		<!--<meta http-equiv="refresh" content="30" />-->
	</head>

	<body>

		<div id="swq">

			<!---->
			<a target="_blank" href="https://github.com/vueComponent/ant-design-vue/tree/1.3.9">https://github.com/vueComponent/ant-design-vue/tree/1.3.9</a>
			<br />
			<a target="_blank" href="https://vue.ant.design/components/affix-cn/">https://vue.ant.design/components/affix-cn/</a>
			<br />
			<a target="_blank" href="https://pro.loacg.com/docs/getting-started">https://pro.loacg.com/docs/getting-started</a>
			<br />
			<a target="_blank" href="https://github.com/sendya/ant-design-pro-vue/blob/master/README.zh-CN.md">https://github.com/sendya/ant-design-pro-vue/blob/master/README.zh-CN.md</a>
			<br />
			<!---->
			<App ref="swq"></App>
			<!---->
			<div @click="click">click</div>
		</div>

		<script type="text/x-template" id="App-template">
			<div>
				App
				<c3 />
				<!--<c2 ref="c2" />-->
				<!--<UnitPriceCounter></UnitPriceCounter>-->

			</div>
		</script>
		<script type="text/x-template" id="UnitPriceCounter-template">
			<div style="width: 500px; margin: auto;">
				<a-row>
					<a-col span="8">
						总价<input style="width: 100%;text-align: right;" type="number" v-model="price1" placeholder="总价" />
					</a-col>
					<a-col span="8" offset="8">
						总价<input style="width: 100%;text-align: left;" type="number" v-model="price2" placeholder="总价" />
					</a-col>
				</a-row>
				<a-row>
					<a-col span="8">
						数量<input style="width: 100%;text-align: right;" type="number" v-model="amount1" placeholder="数量" />
					</a-col>
					<a-col span="8" offset="8">
						数量<input style="width: 100%;text-align: left;" type="number" v-model="amount2" placeholder="数量" />
					</a-col>
				</a-row>
				<a-row>
					<a-col span="8">
						<div style="text-align: right;">{{price1 / amount1}}</div>
					</a-col>
					<a-col span="8">
						<div style="text-align: center;">{{compare}}</div>
					</a-col>
					<a-col span="8">
						<div style="text-align: left;">{{price2 / amount2}}</div>
					</a-col>
				</a-row>
			</div>
		</script>
		<script type="text/x-template" id="c1-template">
			<div>c1</div>
		</script>
		<script type="text/x-template" id="c3-template">
			<div>c3</div>
		</script>
		<script type="text/x-template" id="c2-template">
			<div>
				<c1 ref="c1" />
				<a-form v-if="false" :form="form" @submit="handleSubmit">
					<a-form-item label="Note" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
						<a-input v-decorator="['note', {rules: [{ required: true, message: 'Please input your note!' }]}]" />
					</a-form-item>
					<a-form-item label="Gender" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
						<a-select v-decorator="['gender', {rules: [{ required: true, message: 'Please select your gender!' }]}]" placeholder="Select a option and change input text above" @change="handleSelectChange">
							<a-select-option value="male"> male </a-select-option>
							<a-select-option value="female"> female </a-select-option>
						</a-select>
					</a-form-item>
					<a-form-item :wrapper-col="{ span: 12, offset: 5 }">
						<a-button type="primary" html-type="submit"> Submit </a-button>
					</a-form-item>
				</a-form>
			</div>
		</script>

		<!--<script src="./jvw/vue/vue@2.5.16.js"></script>-->
		<script src="./jvw/vue/vue.global@3.0.7.js"></script>

		<!--<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.5.6/vue.min.js"></script>-->

		<!--<script src="./jvw/antd/antd.js"></script>-->
		<!--<script src="./jvw/element-ui/element-ui@2.4.0/element-ui.2.4.0.js"></script>-->
		<!--<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>-->
		<!--<script src="./jvw/jquery.min.js"></script>-->

		<script type="text/javascript">
			console.log(Vue.version)
			var c1, c2, c3, UnitPriceCounter;
			c1 = {
				template: "#c1-template",
				props: [],
				data: function() {
					return {
						u: {
							c1: "c1-1",
							c2: "c1-2",
							c3: "c1-3",
						},
						c1: "c1-1",
						c2: "c1-2",
						c3: "c1-3",
					}
				},
				computed: {},
				components: {},
				watch: {},
				methods: {},
				created() {},
				mounted() {},
			};
			c2 = {
				template: "#c2-template",
				props: [],
				data() {
					return {
						//						formLayout: 'horizontal',
						form: this.$form.createForm(this),
					};
				},
				computed: {},
				components: {
					c1,
				},
				watch: {},
				methods: {
					handleSubmit(e) {
						e.preventDefault();
						this.form.validateFields((err, values) => {
							if(!err) {
								console.log('Received values of form: ', values);
							}
						});
					},
					handleSelectChange(value) {
						console.log(value);
						this.form.setFieldsValue({
							note: `Hi, ${value === 'male' ? 'man' : 'lady'}!`,
						});
					},
				},
				created() {},
				mounted() {},
			};
			c3 = {
				mixins: [c1],
				template: "#c3-template",
				props: [],
				data: function() {
					return {
						u: {
							c1: "c3-1",
							//							c2: "c3-2",
							//							c3: "c3-3",
						},
						c1: "c3-1",
						//							c2: "c3-2",
						//							c3: "c3-3",
					}
				},
				computed: {},
				components: {},
				watch: {},
				methods: {},
				created() {
					console.log(JSON.stringify(this.$data))
				},
				mounted() {},
			};
			UnitPriceCounter = {
				template: "#UnitPriceCounter-template",
				props: [],
				data() {
					return {
						price1: null,
						price2: null,
						amount1: null,
						amount2: null,
					};
				},
				computed: {
					compare: function() {

						if((this.price1 / this.amount1) > (this.price2 / this.amount2)) {
							return ">"
						} else if((this.price1 / this.amount1) < (this.price2 / this.amount2)) {
							return "<"
						} else {
							return "="
						}

					}
				},
				components: {},
				watch: {},
				methods: {},
				created() {},
				mounted() {},
			};
			var App = {
				template: "#App-template",
				props: [],
				data: function() {
					return {

					}
				},
				computed: {},
				components: {
					c1,
					c2,
					c3,
					UnitPriceCounter,
				},
				watch: {},
				methods: {},
				created() {},
				mounted() {},
			};
			var vu = Vue.createApp({
				//			var vu = new Vue({
				//				el: "#swq",
				data() {
					return {
						s: 2
					}
				},
				methods: {
					click() {
						this.$refs.swq.$refs.c2.$refs.c1.consoleSomething("fffff")
					}
				},
				components: {
					App: App,
				},
				watch: {},
				computed: {},
				created() {},
				mounted() {},
			});
			vu.mount("#swq");
		</script>
	</body>

</html>